*{box-sizing: border-box;}

body{margin: 0; padding: 0; background-color:#F5F5F5;}

/* index.html */
#index_titre{text-align: center; color: white;}

.index_h4{text-align: center; background-color: white; width: 90%;margin: auto;padding: 10px 0;}

#index_span{background-color: blue; padding: 5px 3px; color: white;}

#index_link{background-color: yellow; padding: 10px 10px;display: block;margin: auto; max-width: 200px; text-align: center;}

#index_link:hover{color: blue;font-weight: bold;}

/* subscribe.html */

.entete{background-image: url("back.png"); padding: 15px 0; height: 300px;}

#logo{display: block; width: 350px; margin-left: auto; margin-right: auto;}

.data{padding: 0;margin-top: 3px;}

.social_media_1{width: 20px; float: left; margin: 0; margin-left: 15px; }

.data1{padding-left: 5px; float: left; color: white; font-size: 17px; font-weight: bolder;}

#agrandir{width: 25px; border:1px solid white; border-radius: 3px; margin-right: 20px; padding: 1px; float: right;
	position: relative; bottom: -20px;}

#ulist{list-style-type: none; width: 80%; margin: auto; padding: 0; margin-top: 10px;}

#ulist > li{display: inline-block;margin: 1px;width: 24%;float: left;}

.menu{text-decoration: none;display: inline-block;width: 100%;background-color: yellow;text-align: center;
	padding: 15px 0;border: 1px solid white;border-radius: 5px;font-size: 20px;}

a:active{border-radius: 5px 5px 0 0; color: white; border: 2px 2px 0;}

a:hover{color: white; background-color: green;}

#products{background-color: yellow;position: absolute;width: 24%;z-index: 1;display: none;}

#products a{border:none;border-radius: 5px 0 0 5px;}

.body::after,.ulist::after, .data::after, .social_media_2:after{display: table; clear: both; content: "";}

/* body */

#window{text-align: center;font-size: 30px;font-weight: bold;font-family: Abel;margin-top: 100px;}

.indice{width: 310px; text-align: center;margin: auto; color: darkblue;}

.body{width: 1360px;margin: auto; }

.pub{margin-left: auto;margin-right: auto;width: 90%; display: block;}

.background_article{background-color: gray;margin: 20px;height: 400px;width: 300px;padding: 0;float: left;}

.article{background-image: url("back.png");width: 100%;height: 100%; border: 5px solid #F5F5F5; 
	border-radius: 0 0 100px 100px;margin: 0; padding: 0;}

.picture{display: block;width: 200px;margin-left: auto;margin-right: auto;border: 3px solid black;}

.titre{position: relative;width: 90%;margin: auto;text-align: center;font-size: 14px;padding: 11px 0;color: white;
	background-color: grey;border: 2px solid grey;}

.description{color: rgb(255, 255, 255);text-align: center;font-size: 12px;margin-top: 30px;}

.prix{font-size: 20px;display: inline-block;position: absolute;color: yellow;top: 0px;font-weight: bolder;padding: 5px 7px;
	background-image: url("back.png");right: -14px;}

.buy-link{text-decoration: none;display: block;width: 50%;padding: 10px 0;background-color: blue;color: white;font-weight: bold;
	font-size: 14px;font-family: verdana;text-align: center;border: 2px solid white;border-radius: 5px;margin: auto;}

/* abonnement détails */

.all_details{width: 50%; float: left;}

.h2_1, .h2_2{text-align: center;width: 95%;background-color:cornflowerblue;border-radius: 20px;
	color: #F5F5F5;padding: 8px 0; margin: auto;margin-bottom: 20px;}

.h2_2{width: 60%;margin: auto;}

.h3{text-align: center;padding: 8px 0;width: 90%;margin: auto;background-color: thistle;}

.paragraph{text-align: center;padding-top: 0px;margin-top: 0;width: 85%;margin: auto;margin-bottom: 20px;border-left: 1px solid cornflowerblue;
 border-right: 1px solid cornflowerblue;border-bottom: 1px solid cornflowerblue;}

/*contacter nous*/

.support{text-align: center; margin: auto;width: 50%;padding: 10px 0;}

.social_media_2{width: 100%;padding: 0;}

.div{width: 45%; float: left;padding: 0;}

.subscribe{width: 80px;cursor:pointer; margin: 0;}

#link{width: 80px; display:block; float: right;}

#link:hover{background-color: initial;}

.whatsapp{float: right;}

#or{padding: 24.5px 0; width: 10%; display: inline-block; float: left; text-align: center;margin: 0;}

#copy{padding: 20px 0;margin: 50px 0;
	text-align: center;
	color: blue;
	font-size: 24px;
	font-weight: bold;
	width: 60%;
	background-color: cornflowerblue;
	margin: auto;
	display: none;
}

/* slides */

#slide1{width: 80%;display: block;margin-left: auto;margin-right: auto;border: 3px solid black;}

/* 24htest.html*/   /* contact.html*/

 #test_titre, #contact_titre{text-align: center;width: 95%; margin: auto;}


/* petits ecrans */

@media only screen and (max-width: 1359px) {
 .body{width: 1020px;}
 .index_h4{font-size: 12px;}
}

@media only screen and (max-width: 800px) {
 .index_h4{font-size: 10px;}
}

@media only screen and (max-width: 1019px) {
 .body{width: 680px;}
 .menu{padding: 10px; font-size: 12px;}
}

@media only screen and (max-width: 768px) {
.index_h4{font-size: 8px;}
 #ulist{width: 95%;}
 #window{margin-top: 50px;}
 .all_details{width: 75%; margin: auto;float: none;margin-bottom: 20px;}
 .h2_1, .h2_2{font-size: 16px;}
 .h3{font-size: 12px;}
 p{font-size: 10px;}
 .support{width: 90%;font-size: 10px;}
 .subscribe{width: 60px;}
}

@media only screen and (max-width: 600px) {
 #index_titre{font-size: 16px;}
 #index_span{display: block; width: 90%;margin: auto;}
 #test_titre, #contact_titre{font-size: 16px;}
}

@media only screen and (max-width: 679px) {
 .body{width: 310px;}
 .background_article{margin: 5px;}
 #logo{width: 150px;}
 .data1{padding: 9.5px 2px;font-size: 10px;}
 .social_media{width: 20px;}
  #window{font-size: 20px;}
  .indice{font-size: 16px;}
}

@media only screen and (min-width:404px) and (max-width: 768px) {
 .element{width: 120px;}
}

@media only screen and (min-width:404px){
 #ulist{display: block;}
 #agrandir{display: none;}

}
@media only screen and (max-width:403px){
.social_media_1{width: 30px;}
 #ulist{display: none;}
 #agrandir{display: inline;}
 #ulist>li{width: 100%;}
 .element{width: 264px;}
 #window{margin-top: 10px;}
 #test_titre, #contact_titre{font-size: 14px;}
}

/*#bottom{
	background-color: white;
	padding: 0;
	margin: 10px 0 0;
	padding: 10px;
	background-image: url("back.png");
	}

#copyright{
	width: 80%;
	margin: auto;
	text-align: center;
	}*/